In [ ]:
import pandas as pd
import psycopg2

In [ ]:
def create_database():
    #connect to  default database
    #conn = psycpg2.connect("host=127.0.0.1 dbname=studentdb user=student password=student")
    conn = psycopg2.connect("host=127.0.0.1 dbname=postgres user=postgres password=POSTGRES99")
    conn.set_session(autocommit=True)
    cur = conn.cursor()
    
    #create sparkify database with UTF8 encoding
    cur.execute("DROP DATABASE worldbank")
    cur.execute("CREATE DATABASE worldbank")
    
    #close connection to default database
    conn.close()
    
    #connection to sparkify database
    conn = psycopg2.connect("host=127.0.0.1 dbname=worldbank user=postgres password=POSTGRES99")
    cur = conn.cursor()
    
    return cur,conn

In [ ]:
def drop_tables(cur,conn):
    for query in drop_table_query:
        cur.execute(query)
        conn.commit()

In [ ]:
def create_tables(cur,conn):
    for query in create_table_query:
        cur.execute(query)
        conn.commit()

In [ ]:
reserve = pd.read_csv(r"C:\Users\User\OneDrive\Desktop\reserve_asset.csv")

In [ ]:
reserve_clean = reserve[['Country Name', 'Indicator Name', '2019', '2020', '2021']]

In [ ]:
reserve_clean.head()

In [ ]:
loans = pd.read_csv(r"C:\Users\User\OneDrive\Desktop\loans.csv")

In [ ]:
loans_clean = loans[['Country Name', 'Indicator Name', '2019', '2020', '2021']]

In [ ]:
loans_clean.tail()

In [ ]:
capital = pd.read_csv(r"C:\Users\User\OneDrive\Desktop\capital_asset.csv")

In [ ]:
capital_clean = capital[['Country Name', 'Indicator Name', '2019', '2020', '2021']]

In [ ]:
capital_clean.tail()

In [ ]:
cur, conn = create_database()

In [ ]:
reserve_table_create = ("""CREATE TABLE IF NOT EXISTS reserve(
Country_Name VARCHAR PRIMARY KEY, 
Indicator_Name VARCHAR, 
YEAR_2019 INT, 
YEAR_2020 INT, 
YEAR_2021 INT
)""")

In [ ]:
cur.execute(reserve_table_create)
conn.commit()

In [ ]:
loans_table_create = ("""CREATE TABLE IF NOT EXISTS loans(
Country_Name VARCHAR , 
Indicator_Name VARCHAR, 
YEAR_2019 INT, 
YEAR_2020 INT, 
YEAR_2021 INT
)""")

In [ ]:
cur.execute(loans_table_create)
conn.commit()

In [ ]:
capital_table_create = ("""CREATE TABLE IF NOT EXISTS capital(
Country_Name VARCHAR, 
Indicator_Name VARCHAR, 
YEAR_2019 INT, 
YEAR_2020 INT, 
YEAR_2021 INT
)""")

In [ ]:
cur.execute(capital_table_create)
conn.commit()

In [ ]:
loans_table_insert = ("""INSERT INTO loans(
Country_Name , 
Indicator_Name, 
YEAR_2019, 
YEAR_2020, 
YEAR_2021)
VALUES (%s,%s,%s,%s,%s)
""")

In [ ]:
for i, row in loans_clean.iterrows():
    cur.execute(loans_table_insert, list(row))

In [ ]:
reserve_table_insert = ("""INSERT INTO reserve(
Country_Name , 
Indicator_Name, 
YEAR_2019, 
YEAR_2020, 
YEAR_2021)
VALUES (%s,%s,%s,%s,%s)
""")

In [ ]:
for i, row in reserve_clean.iterrows():
    cur.execute(reserve_table_insert, list(row))

In [ ]:
capital_table_insert = ("""INSERT INTO reserve(
Country_Name , 
Indicator_Name, 
YEAR_2019, 
YEAR_2020, 
YEAR_2021)
VALUES (%s,%s,%s,%s,%s)
""")

In [ ]:
for i, row in capital_clean.iterrows():
    cur.execute(capital_table_insert, list(row))

In [ ]:
conn.commit()

In [ ]:
cur.close()
conn.close()